:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  margin: auto;
  padding: 0 1rem;
}

.pattern-top {
  position: absolute;
  left: 0;
  width: 374px;
  height: 232px;
  z-index: -1;
  background-image: url(../images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.pattern-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 275px;
  z-index: -1;
  background-image: url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  color: var(--very-dark-magenta);
}

.intro-title h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  padding: 4rem 2.5rem 0rem 2.5rem;
}

.intro-title p {
  color: var(--dark-grayish-magenta);
  font-weight: 400;
  margin: 2rem 0;
}

.review {
  background: var(--light-grayish-magenta);
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
}

.review p {
  font-size: 0.8rem;
  font-weight: 700;
}

.stars {
  height: 10px;
  margin-bottom: 1rem;
}

.customers {
  margin: 3rem 0;
}

.customer {
  background: var(--very-dark-magenta);
  border-radius: 10px;
  color: var(--white);
  font-size: 14px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.customer-profile {
  display: flex;
  margin-bottom: 2rem;
}

.customer-icon {
  border-radius: 50%;
  width: 12%;
  margin-right: 1.5rem;
}

.meta {
  color: var(--soft-pink);
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 11px;
  }

  .header {
    margin-bottom: 4rem;
  }

  .container {
    max-width: 1024px;
    margin: auto;
  }

  .pattern-top {
    background-image: url(../images/bg-pattern-top-desktop.svg);
    width: 580px;
    height: 360px;
  }

  .pattern-bottom {
    background-image: url(../images/bg-pattern-bottom-desktop.svg);
    width: 100%;
    height: 650px;
    bottom: 0;
  }

  .intro {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
  }

  .intro-title {
    text-align: left;
    width: 44%;
  }

  .intro-title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 4rem 0 0 0;
    width: 80%;
  }

  .intro-title p {
    font-size: 12px;
    margin: 1rem 3rem 1rem 0;
  }

  .reviews {
    margin-top: 5rem;
    width: 54%;
  }

  .review {
    border-radius: 5px;
    display: flex;
    padding: 0.7rem 0 0.3rem 1.5rem;
  }

  .stars {
    margin-right: 1.3rem;
  }

  .stars img {
    display: inline-flex;
    align-items: center;
    margin-right: 2px;
    width: 14%;
  }

  .review:nth-child(1) {
    margin-right: 20%;
  }

  .review:nth-child(2) {
    margin-right: 10%;
    margin-left: 10%;
  }

  .review:nth-child(3) {
    margin-left: 20%;
  }

  .customers {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
  }

  .customer {
    width: 50%;
    height: 180px;
    margin-right: 1.5rem;
  }

  .customer:nth-child(2) {
    margin-top: 1rem;
  }

  .customer:nth-child(3) {
    margin-top: 2rem;
    margin-right: 0;
  }
}
